.container {
    display: flex;
    justify-content: center;
}
.card{
    text-align: center;
    background-color: #00afb9;
    margin: 10px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card:hover {
    background-color:#ff006e;
    cursor: pointer;
    opacity: 50%;
    transform: scale(1.1);
}


.card img{
    width: 200px;
}